*  {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

#header {
  background-color: rgb(88, 82, 74, 0.4);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#header h1 {
  font-size: 50px;
  line-height: 1.2;
}

#header p {
  font-size: 20px;
}

#header .button {
font-size: 18px;
text-decoration: none;
color: rgb(15, 15, 13);
border: 2px solid rgb(22, 22, 21);
border-radius: 20px;
padding: 5px;
margin-top: 10px;
}

#header .button:hover {
  background:rgb(214, 212, 209);
  color: black;
}

#section-a {
  padding: 20px;
  background: rgb(150, 150, 240);
  text-align: center;
  color: white;

}

#section-a:hover {
  color: black;
  transition: all 1s;
}

#section-b {
  display: flex;
}

#section-b div {
  padding: 20px;
  margin: 5px;
  background: rgb(88, 82, 74, 0.4);
  border: 2px solid black;
}

#section-c {
  padding: 20px;
  background: rgb(150, 150, 240);
  text-align: center;
  color: white;

}

.footer {
  background: rgb(88, 82, 74, 0.4);
  color: white;
  text-align: center;
}

@media screen and (max-width:760px) {
  #section-b {
    display: block;
  }
